body{
  color: darkblue;
  background-color: ivory;
  margin-top:10px;
  margin-right: 50px;
  margin-middle: 10px;
  margin-left: 50px;
;:
}

h1{
  font-family: oswald;
}
h2{
  font-family: oswald;
}

p{
  font-family: open-sans;
}